.layout-form{
    display: none;
    position: absolute;
    width: 200px;
}

.input-matricula{
    display: flex;
}
#four-zero{
    width: 30px;
}

#matricula{
    width: 100%;
}

#male-icon, #female-icon{
    width: 15px;
}
